.filtro-simples-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    margin: 10px 0;
}

.nome-do-filtro-simples{
    font-size: 20px;
    font-weight: 600;
}