.produto-container{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 335px;
    height: 420px;
    margin: 10px;
    border-radius: 10px;
    padding: 25px;

    position: relative;

    box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.02);
}

.produto-container:hover{
    box-shadow: 0px 5px 15px 15px rgba(0,0,0,0.04);
}

.produto-nome{
    font-weight: bold;
    margin-bottom: 10px;
}

.produto-preco{
    font-size: 24px;
    color: #0b8e4b;
}

.preco-desconto-container{
    display: flex;
}

.preco-desconto-container div{
    margin-right: 5px;
}

.produto-preco-desconto{
    text-decoration: line-through;
    color: #6d6d6d;
}

.produto-taxa-desconto{
    color: #0b8e4b;
}

.produto-entrega-gratis{
    color: #0b8e4b;
    font-size: 14px;
    margin-top: 5px;
}

.produto-entrega-gratis i{
    margin: 5px;
}

/* this div is on top of its parent, on the bottom part */
/* it has a gradient background, and a button */
.produto-adicionar{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5718662464985995) 27%, rgba(255,255,255,1) 43%); 
    opacity: 0;
    transition: opacity 0.5s;
    height: 150px;
    width: 100%;
    bottom: 0;
    left: 0;
    border-radius: 0 0 10px 10px;
}

.produto-container:hover .produto-adicionar{
    opacity: 1;
}

.produto-adicionar button{
    font-weight: bold;
    color: #fff;
    font-size: 12pt;
    background-color: #4142cf;
    width: 100%;
    margin: 20px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.produto-adicionar button:hover{
    background-color: #3636ac;
    cursor: pointer;
}

.produto-adicionar button:active{
    background-color: #2b2b8a;
}

.produto-imagem{
    width: 100%;
    display: flex;
    justify-content: center;
}

.produto-imagem img{
    width: 200px;
}

/* responsividade */
@media screen and (max-width: 400px){
    .produto-imagem img{
        width: 150px;
    }

    .produto-container{
        width: 250px;
    }
}